<footer class="footer bg-dark text-white pt-4">
  <div class="container text-center text-md-start">
    <div class="row">

      <!-- Columna 1: Info del restaurante -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Sangucheria Dos Pollos Hermanos</h5>
        <p>
          Somos un restaurante digital comprometido con ofrecerte platos deliciosos, preparados con ingredientes frescos, y entregados con rapidez a la puerta de tu casa. <br>
          Disfrutá de nuestra variedad de sanguches, promociones exclusivas y la comodidad de pedir desde tu celular. 🍕🍔🥗
        </p>
      </div>

      <!-- Columna 2: Enlaces útiles (solo cliente) -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Redes Sociales</h5>
        <ul class="list-unstyled">
          <li><a href="https://instagram.com/instagram" target="_blank" class="text-white">Instagram</a></li>
          <li><a href="https://facebook.com/facebook" target="_blank" class="text-white">Facebook</a></li>
          <li><a href="https://twitter.com/twitter" target="_blank" class="text-white">Twitter</a></li>
          <li><a href="https://linkedin.com/linkedin" target="_blank" class="text-white">LinkedIn</a></li>
        </ul>
      </div>

      <!-- Columna 3: Desarrolladores -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Desarrolladores de la página</h5>
        <ul class="list-unstyled">
          <li class="text-white">Flores Jonatan</li>
          <li class="text-white">Benjamín Cadena</li>
          <li class="text-white">Sergio Acuña</li>
          <li class="text-white">Toro Agustín</li>
          <li class="text-white">Simón Ortega</li>
        </ul>
      </div>

    </div>

    <hr class="bg-secondary my-3">

    <div class="text-center pb-3">
      <small>© 2025 Mi Restaurante. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>
