<footer class="footer bg-dark text-white pt-4">
  <div class="container text-center text-md-start">
    <div class="row">

      <!-- Columna 1: Info del restaurante -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Mi Restaurante</h5>
        <p>
          Somos un restaurante digital comprometido con ofrecerte platos deliciosos, preparados con ingredientes frescos, y entregados con rapidez a la puerta de tu casa. <br>
          Disfrutá de nuestra variedad de comidas, promociones exclusivas y la comodidad de pedir desde tu celular. 🍕🍔🥗
        </p>
      </div>

      <!-- Columna 2: Enlaces útiles (solo cliente) -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/home" class="text-white">Inicio</a></li>
          <li><a routerLink="/productos" class="text-white">Productos</a></li>
          <li><a routerLink="/checkout" class="text-white">Carrito</a></li>
          <li><a routerLink="/perfil" class="text-white">Mi perfil</a></li>
          <li><a routerLink="/solicitud" class="text-white">Trabajá con nosotros</a></li>
          <li><a href="#" class="text-white">Términos y condiciones</a></li>
        </ul>
      </div>

      <!-- Columna 3: Desarrolladores -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Desarrolladores de la página</h5>
        <ul class="list-unstyled">
          <li><a href="https://instagram.com/insta1" target="_blank" class="text-white">Flores Jonatan</a></li>
          <li><a href="https://instagram.com/insta2" target="_blank" class="text-white">Benjamín Cadena</a></li>
          <li><a href="https://instagram.com/insta3" target="_blank" class="text-white">Sergio Acuña</a></li>
          <li><a href="https://instagram.com/insta4" target="_blank" class="text-white">Toro Agustín</a></li>
          <li><a href="https://instagram.com/insta5" target="_blank" class="text-white">Simón Ortega</a></li>
        </ul>
      </div>

    </div>

    <hr class="bg-secondary my-3">

    <div class="text-center pb-3">
      <small>© 2025 Mi Restaurante. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>
