<nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top" [ngClass]="{ 'navbar-scrolled': isScrolled }">

  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">🍔 Mi Restaurante</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/productos']">Productos</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/checkout']">Carrito</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/perfil']">Perfil</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/solicitud']">Solicitud</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/lista-repartidores']">Repartidores</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/crear-admin']">Vista</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/admin-usuarios']">Usuarios</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/admin-gestion-carga']">Carga</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/pedidos-repartidor']">Mis Entregas</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/lista-pedidos']">Pedidos</a></li>
      </ul>

      <div class="d-flex align-items-center">
        <a class="nav-link text-light" *ngIf="!usuarioService.userLoggedIn()" [routerLink]="['login']">
          Iniciar Sesión
        </a>
        <a class="nav-link text-warning" *ngIf="usuarioService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
          {{usuarioService.userLogged()}} (Salir)
        </a>
      </div>
    </div>
  </div>
</nav>
