<div class="combo-card h-100">
  <div class="combo-image-container">
    <img [src]="combo.imagen" class="combo-image" [alt]="combo.nombre">
    <div class="combo-badge" *ngIf="combo.categoria">
      {{ combo.categoria }}
    </div>
  </div>
  
  <div class="combo-content">
    <h5 class="combo-title">{{ combo.nombre }}</h5>
    <p class="combo-description">{{ combo.descripcion }}</p>
    
    <div class="combo-components" *ngIf="combo.componentes">
      <h6 class="components-title">Incluye:</h6>
      <ul class="components-list">
        <li *ngFor="let componente of combo.componentes">{{ componente }}</li>
      </ul>
    </div>
    
    <div class="combo-footer">
      <div class="combo-price">
        <span class="price-amount">{{ combo.precio | currency:'ARS' }}</span>
      </div>
      <button class="btn btn-primary btn-agregar" (click)="agregarAlCarrito()">
        🛒 Agregar al Carrito
      </button>
    </div>
  </div>
</div> 