<div class="container mt-4">
  <h3>Pedidos disponibles para entregar</h3>

  <div *ngFor="let pedido of pedidos; let i = index" class="card my-3 shadow-sm">

    <!-- Mostrar pedidos disponibles (listos y sin repartidor) -->
    <ng-container *ngIf="pedido.estado === 'listo' && !pedido.repartidor">
      <div class="card-body">
        <h5 class="card-title">📍 Dirección: </h5>
        <p><strong>Barrio:</strong> {{ clientes[i].barrio }}</p>
        <p><strong>Calle:</strong> {{ clientes[i].calle }}</p>
        <p><strong>Número:</strong> {{ clientes[i].numeroCalle }}</p>
        <p><strong>Estado:</strong> {{ pedido.estado }}</p>

        <h5 class="card-title">Cliente: {{ clientes[i].nombre }} {{ clientes[i].apellido }}</h5>
        <p><strong>Teléfono:</strong> {{ clientes[i].telefono }}</p>
        <p><strong>Orden:</strong> {{ pedido.nombre }}</p>

        <p class="mt-3"><strong>Total:</strong> ${{ pedido.total!.toFixed(2) }}</p>
        <p><strong>Propina Estimada:</strong> ${{ (pedido.total! * 0.15).toFixed(2) }}</p>

        <button class="btn btn-success" (click)="tomarPedido(i)">Tomar pedido</button>
      </div>
    </ng-container>

    <!-- Mostrar pedidos ya tomados por el repartidor logueado -->
    <ng-container *ngIf="idrepartidores[i] === idrepartidor">
        <div class="card-body">
          <h5 class="card-title">📍 Dirección: </h5>
          <p><strong>Barrio:</strong> {{ clientes[i].barrio }}</p>
          <p><strong>Calle:</strong> {{ clientes[i].calle }}</p>
          <p><strong>Número:</strong> {{ clientes[i].numeroCalle }}</p>
          <p><strong>Estado:</strong> {{ pedido.estado }}</p>

          <h5 class="card-title">Cliente: {{ clientes[i].nombre }} {{ clientes[i].apellido }}</h5>
          <p><strong>Teléfono:</strong> {{ clientes[i].telefono }}</p>
          <p><strong>Orden:</strong> {{ pedido.nombre }}</p>

          <p class="mt-3"><strong>Total:</strong> ${{ pedido.total!.toFixed(2) }}</p>
          <p><strong>Propina Estimada:</strong> ${{ (pedido.total! * 0.15).toFixed(2) }}</p>

          <button class="btn btn-danger" (click)="finalizarPedido(pedido._id)">Finalizar</button>
        </div>
    </ng-container>

  </div>
</div>
